html,
body {
  font-family: Helvetica;
  font-size: 18px;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*heading section */
header {
  background-color: black;
  color: white;
}

.logo {
  height: 1.5rem;
  left: 0.5rem;
  right: 1rem;
}


/*Banner Section*/
.banner {
  height: 25rem;
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  background-color: black;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;

}
.content h3{
  font-size: 1rem;
  color: white;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
.content h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

/* Navigation Bar */
.navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  background-color: firebrick;
  background-size: cover;
  color: white;
}
li {
  display: inline-block;
  padding: 0.75rem 2rem;
}

.navigation h1 {
  display: none;
}

/* Product Section */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 3rem 0;
}

figure {
  border: 4px solid black;
  width: 30%;
  /*min-height: 15rem;*/
  text-align: center;

}

.product img {
  max-height: 9rem;
  width: auto;
  max-width: 100%;
  padding: 2rem 0;
  overflow: auto;
}
.product figcaption {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

/*location and hours */
.shopinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 3rem 0;
}

.locs, .hours {
  width: 35%;
  min-width:
}

.locs h3, .hours h3 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  text-align: left;
  align-content: center;
  height: 5rem;
  width: 100%;
}
/* tablet view */
@media only screen and (max-width: 1024px) {


}

/* mobile view */
@media only screen and (max-width: 470px) {

  /*Banner Section on mobile*/
  .banner {
    height: 15rem;
  }
  .content {
    background-color: black;
    background-size:
    position: relative;
    top: 10rem;
    padding: 2rem 3rem;
  }
  .content h3{
    font-size: .77rem;
  }
  .content h1 {
    font-size: 1rem;
  }
/* navigation bar */
  .navigation h1 {
    display: inline;
  }
  .ul {
    display: hide;
  }
  .gallery {
    flex-direction: column;
  }

  .shopinfo {
    flex-direction: column;
  }

}
